<%= simple_form_for(@spend) do |f| %>

    <div class="form-inputs">
    
      <%= f.input :amount, as: :string, input_html: { data: {autonumeric: true, role: 'money', m_dec: 0, v_min: 0, v_max: 999999999, a_sign: '$ '} }, error: 'Come on! it is the most important value here!', autofocus: true %>
      <%= f.input :description %>
      <%= f.input :when_at, as: :string, input_html: { 'data-provide': "datepicker", value: @spend.when_at.strftime('%m/%d/%Y') }, error: 'You have to tell us when did you spend this money' %>
      <%= f.input :category, collection: current_user.categories.all.order(:name), prompt: "Select a category", error: 'Category is mandatory, please specify one', selected: @spend.category_id %>
    </div>

    <div class="form-actions">
      <%= link_to 'Back', spends_path, class: 'btn btn-default' %>
      <%= f.button :button, class: 'btn btn-primary' do %>
          Send <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <% end %>
    </div>
<% end %>