<div class="row">
  <div class="col-md-2">
    <%= link_to new_spend_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Add a Spend
    <% end %>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-2">
    Download:
    <%= link_to "CSV", spends_path(format: "csv") %> |
    <%= link_to "Excel", spends_path(format: "xls") %>
  </div>
  <div class="col-md-2">
    <%= link_to "Import", spend_imports_new_path, class: "tag-tooltip",
                :data => {:toggle=>"tooltip"},
                'data-original-title' => "We only support CSV files import for the moment.",
                'data-placement' => 'right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6" id="last_year_chart" style="display: none;">
    <h3>Last Year</h3>
    <%= spend_line_chart('/spends/year.json', 'spends_chart') %>
  </div>
  <div class="col-md-6" id="last_week_chart" style="display: none;">
    <h3>Last Week</h3>
    <%= spend_line_chart('/spends/daily.json', 'week_spends_chart') %>
  </div>
</div>

<div class="row margin-top-20">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <% i = 0 %>
    <% @spends_months.each do |month, spends| %>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%=month.strftime('%B') + month.strftime('%Y')%>">
            <h4 class="panel-title">
              <a class="<%= 'collapsed' if i != 0 %>" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= month.strftime('%B') + month.strftime('%Y') %>" aria-expanded="<%= i == 0 ? 'true' : 'false' %>" aria-controls="<%= month.strftime('%B') + month.strftime('%Y') %>">
                <%= month.strftime('%B') %> <small>(<%= month.strftime('%Y') %>)</small> <span class="pull-right"><%= number_to_currency(@sum[i]['sum'], precision: 0) %></span>
              </a>
            </h4>
          </div>
          <div id="<%= month.strftime('%B') + month.strftime('%Y') %>" class="<%= i == 0 ? 'panel-collapse collapse in' : 'panel-collapse collapse' %>" role="tabpanel" aria-labelledby="heading<%= month.strftime('%B') + month.strftime('%Y') %>">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>When</th>
                    <th>Category</th>
                    <th colspan="2"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% spends.each do |spend| %>
                      <tr>
                        <td><%= link_to number_to_currency(spend.amount, precision: 0), spend %></td>
                        <td><%= spend.description %></td>
                        <td><%= spend.when_at.to_date.to_s(:long) %></td>
                        <td><%= spend.category.name %></td>
                        <td>
                          <%= link_to edit_spend_path(spend) do %>
                              <span class="glyphicon glyphicon-pencil"></span> Edit
                          <% end %>
                        </td>
                        <td>
                          <%= link_to spend, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <span class="glyphicon glyphicon-trash"></span> Delete
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= pie_chart @sum[i].except('sum') %>
                </div>
                <div class="col-md-6" id="last_month_chart" style="display: none;">
                  <% if i == 0 %>
                      <%= spend_line_chart("/spends/monthly.json?month=#{month}", 'month_spends_chart') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% i = i + 1 %>
    <% end %>
  </div>
</div>