<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">When</Data></Cell>
        <Cell><Data ss:Type="String">Created</Data></Cell>
        <Cell><Data ss:Type="String">Updated</Data></Cell>
        <Cell><Data ss:Type="String">Category</Data></Cell>
      </Row>
      <% @spends.each do |spend| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= spend.amount %></Data></Cell>
            <Cell><Data ss:Type="String"><%= spend.description %></Data></Cell>
            <Cell><Data ss:Type="String"><%= spend.when_at %></Data></Cell>
            <Cell><Data ss:Type="String"><%= spend.created_at %></Data></Cell>
            <Cell><Data ss:Type="String"><%= spend.updated_at %></Data></Cell>
            <Cell><Data ss:Type="String"><%= spend.category.name %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>