<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@spend.amount, precision: 0) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spend.description %>
</p>

<p>
  <strong>When:</strong>
  <%= @spend.when_at.to_date.to_s(:long) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spend.category.name %>
</p>

<%= link_to 'Edit', edit_spend_path(@spend) %> |
<%= link_to 'Back', spends_path %>
