<h1>Expenses importer</h1>

<div class="alert alert-warning">
  <h4>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Warning:</span>
    If you import a CSV file it will replace all your data in the app, thin first in download a back up.<br />
    You can create a back up <%= link_to 'here', spends_path(format: "csv") %>
  </h4>
</div>

<p>A CSV file can be used to import expenses. The first row should be the column name. The following columns are allowed.</p>

<ul>
  <% Spend.columns.each do |column| %>
      <% if column.name.in? ["amount", "description", "when_at", "created_at", "updated_at"] %>
          <li>
            <strong><%= column.name %></strong> -
            <%= column.type.to_s.titleize %> type
          </li>
      <% end %>
  <% end %>
  <li>
    <strong>category</strong> - String type
  </li>
</ul>

<%= form_for @spend_import do |f| %>
    <% if @spend_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@spend_import.errors.count, "error") %> prohibited this import from completing:</h2>
          <ul>
            <% @spend_import.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <%= f.file_field :file, class: 'btn btn-default' %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Import", class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>