<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', categories_path %>
    <%= f.button :button, class: 'btn btn-primary' do %>
        Send <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <% end %>
  </div>
<% end %>
