<div class="row">
  <div class="col-md-2">
    <%= link_to new_category_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Add a Category
    <% end %>
  </div>
</div>

<div class="row">
  <h1>Your Categories</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
